/**
 * border radius
 */
 /* #root{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    } */
.container-fluid{
    margin-top: 100px;
}
.btn,
.jumbotron,
.nav :hover {
    border-radius: 0px;
}

/* cart badge */

.cart-badge,
.cart-badge:hover {
    border-radius: 50%;
    padding: 2px;
    font-size: 12px;
    font-style: italic;
    background: #000;
}
/**
 * single product page - product name
 */

.name {
    background: indigo;
    color: #fff;
    font-weight: bold;
}


/* black shade form 10-1 */
.black-10 {
    background: #f2f2f2;
    color:indianred;
    border-radius: 30px;
}
.black-9 {
    background: #e6e6e6;
    text-align: center;
    border-radius: 30px;
}
.black-8 {
    background: #d9d9d9;
    text-align: center;
}
.black-7 {
    background: #cccccc;
}
.black-6 {
    background: #bfbfbf;
}
.black-5 {
    background: #b3b3b3;
}

/**
 * product image on card
 */

.product-img {
    height: 300px;
    width: 100%;
}

.jumbotron h2 {
    margin-top: -20px;
}

@media only screen and (max-width: 600px) {
    .jumbotron h2 {
        margin-top: 10px;
    }
}

/**
 * jumbotron animation
 */


@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.card-header {
    text-align: center;
 
}





.banner-user-elem{
  height: 400px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    text-align: center;
}
.banner-user-elem .banner-user-title{
  font-size: 22px;
  
}
.banner-user-elem .banner-user-text{
    font-size: 22px;
  
}

.card-header-1 {
    background-color: bisque;
}

.card-p {
    text-align: center;
    border-radius: 30px;
}

.badge-pill {

    text-align: center;
}
.button-view{
    align-items:center;
    text-align: center;
}